[submodule "dep/readdy"]
	path = dep/readdy
	url = https://github.com/EricJIsaac/readdy.git
[submodule "dep/aws-sdk-cpp"]
	path = dep/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "dep/cytosim"]
	path = dep/cytosim
	url = https://gitlab.com/f.nedelec/cytosim.git
